section {
    min-width: 1430px;
}
/* Youtuber--------------------------------- */

.youtuberCheck {
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 15px 20px;
}

.youtuberCheck label {
    vertical-align: middle;
    line-height: 1;


}

.youtuberCheck label input[type="radio"] {
    border: solid 1px #d5d5d5;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;

}

.youtuberCheck img {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
    margin-right: 30px;

}

.youtuberCheckLabel {
    position: relative;
    display: inline-block;

}


.youtuberCheckLabel .tooltip {
    display: none;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.78px;
    text-align: left;
    padding: 12px 9px 8px 13px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 #ebebeb;
    padding: 12px;
    z-index: 10;
    width: 250px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.youtuberCheckLabel:hover .tooltip {
    display: block;
}

.search-container {
    display: inline-block;
}

.search-container input[type=text] {
    width: 350px;
    font-size: 18px;
    letter-spacing: -1.08px;
    text-align: left;
    color: #a5a5a5;
    padding: 17px 22.7px 15px 20px;
    border-radius: 25px;
    border: solid 1px #d5d5d5;
    background-color: #fff;
    vertical-align: middle;
}

.search-container input[type=text] ::placeholder {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a5a5a5;
}

.search-container input[type=image] {
    margin-left: -45px;

    display: inline-block;
    vertical-align: middle;
}

.search-container label {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: #222;

}

.search-container label {

    margin-left: 20px;
    vertical-align: middle;
}

.search-container input[type=checkbox] {
    width: 18px;
    height: 18px;
    border: solid 1px #707070;
    background-color: #fff;
    font-size: 14px;
    vertical-align: middle;
    text-align: left;
    color: #222;
    margin-right: 8px;
}
/* Youtuber--------------------------------- */

/* Filters----------------------------- */
.filters{margin-top: 20px;}
.filters h3{
    display: inline-block;

}
.filters a{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
 margin-left: 14px;
}
.filters a img{
    width: 32px;
    height: 32px;
}
.filterBox{
    padding: 33px 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #f7f7f7;
    background-color: #fff;
}
.flexitem1, .flexitem3{
    width: 30%;

}
.flexitem2{
    width: 38%;
}
.flexitem div input[type=text]{
 
    border: solid 1px #d5d5d5;
    background-color: #fff;
}
.flexitem h4{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}
.flexitem input[type=text]{
    border: solid 1px #d5d5d5;
    background-color: #fff;
}
.flexitem1 input[type=text]{
    width: 60px;
    height: 36px;
    margin: 14px 2px 22px 6px;

}
.flexitem1 small{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a5a5a5;
}
.flexitem2 p{
    display: inline-block;
    font-size: 14px;
    text-align: left;
    color: #464646;
}
.flexitem2 input[type=text]{
    width: 100px;
    height: 36px;
    margin: 14px 6px 22px 0;

}
.flexitem2 span{
    font-size: 14px;
    text-align: left;
    color: #222;
}

.flexitem3 input[type=checkbox]{
    width: 14px;
    height: 14px;
    line-height: 1.5;
    border: solid 1px #a5a5a5;
    background-color: #fff;
    margin: 20px 2px 22px 6px;
}
.flexitem3 label{
    font-size: 14px;
    text-align: left;
    color: #222;
    display: inline-block;
    vertical-align: middle;
  margin-right: 20px;
}

.filters hr{margin-bottom: 30px;}
.flexcontainer{

}
.flexitem4{
    width: 30%;
}



.flexitem5{
    width:26%;
}
.flexitem4 h4, .flexitem6 h4{
    display: inline-block;
    margin-right: 3px;
}
.flexitem6 small{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;

    text-align: left;
    color: #a5a5a5;
}

.selctBoximg{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
    padding: 10px 10px;
    border: solid 1px #d5d5d5;
    width: 297px;
    position: relative;
    margin-top: 10px;
}
.selctBoximg img{
    width: 12px;
    position: absolute;
    right: 6px;
    top:14px;
   
}
.inputWrap{
    padding: 18px;
    box-shadow: 0 0 10px 0 #ebebeb;
    background-color: #fff;
 display: none;

}
.inputWrap em{
    font-size: 14px;
    text-align: left;
    color: #222;
    width: 80px;
    display: inline-block;

    line-height: 2;
}
.inputWrap input[type=checkbox]{
  width: 14px;
  margin-right: 0;
  margin-left: 0;

 
}
#result{
    font-size: 13px;
margin-top: 10px;
 
}


select {
    margin-top: 12px;;
    height: 40px;
    padding: 9px 10px;
    border: solid 1px #d5d5d5;
    width: 297px;
    background-color: #fff;

 
 }

 .flexitem6 p{
    font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
  display: inline-block;
  vertical-align: middle;

 }
 .flexitem6 input[type=text]{
    width: 70px;
    height: 36px;
    margin-top: 15px;
    border: solid 1px #d5d5d5;
    background-color: #fff;
 }

 .flexitem7, .flexitem8{
    width:30%;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}
.flexitem7 h4{
    display: inline-block;
}
.flexitem7 input[type=text]{
    width: 70px;
  height: 36px;
  margin: 10px 6px 0 1px;
  border: solid 1px #d5d5d5;
  background-color: #fff;
}
.flexitem8 input[type=checkbox] {
    width: 14px;
    height: 14px;
    line-height: 1.5;
    border: solid 1px #a5a5a5;
    background-color: #fff;
    margin: 20px 2px 22px 6px;
}
.flexitem9{

    width: 39%;
    text-align: right;
vertical-align: middle;
}
.flexitem9 input[type=search]{

    padding: 19px 30px;
    border-radius: 5px;
    border: solid 1px #00c781;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00c781;
  
}

/* Filters----------------------------- */


/* youtuberList-------------------------- */
.youtuberTitle{justify-content: space-between;
}
.youtuberTitle h3, .youtuberTitle span{
    display: inline-block;
    margin-right: 10px;
}
.youtuberTitle  span{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}
.youtuberTitle  span strong{
    font-weight:bold;
}

.youtuberTitle input[type=checkbox] {
    width: 18px;
    height: 18px;
    border: solid 1px #707070;
    background-color: #fff;
    font-size: 14px;
    vertical-align: middle;
    text-align: left;
    color: #222;
    margin-right: 8px;
}
.youtuberTitle a img{

vertical-align: middle;
margin-right: 8px;
}
.youtuberTitle a:active {
    background-image: url(../images/check_active_ico.png);
    background-position: left;
    background-repeat: no-repeat;
    /* width: 20px;
    height: 20px; */
    color: #00c781;
    margin-top: -5px;
  }
  .youtuberTitle a:active .youtuberTitle span{
    color: #00c781;
  }



/* youtuberList-------------------------- */

.youtuberList{
    margin-top: 40px;
}

  .youtuberBox {
    /* background: lightcoral; */
    align-items: stretch;
    justify-content: space-between;
    padding: 20px 19.8px 22.3px 19px;
    border: solid 1px #d5d5d5;
    background-color: #fff;
  }

  .youtuberBox .flexitemY1{
    width: 55%;
  }
  .youtuberBox .flexitemY2{
    width: 20%;
  }
  .youtuberBox .flexitemY3{
    width: 20%;
  }

/* - 유튜버정보 ------------------- */
  .youtuberBox .flexitemY1 .mask1{
    width: 78px;
    height: 78px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}
.youtuberBox .flexitemY1 .mask1 img{
    width: 78px;
    height: 78px;
    border-radius: 50%;
}
.youtuberinfoWrap{
    position: relative;
}
.youtuberinfo{
    vertical-align: middle;
    display: inline-block;
}
.youtuberinfo p{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #a5a5a5;
    line-height: 1.3;
  }
  .youtuberinfo h4{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #222;
    padding-bottom: 14px;
  }
  .youtuberinfo b{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #848484;
  }
  .youtuberinfo span{
    font-size: 12px;
    text-align: left;
    color: #848484;
    position: relative;
    margin-right: 15px;
  }
  .youtuberinfo span::after{
    content: '';
    width: 1px;
  height: 10px;
  margin: 4px 1px 9.5px 6px;
  background-color: #d5d5d5;
  position: absolute;
  top:-2px;
  left: 35px;
  }
  .youtuberinfo span:nth-of-type(2):after{
    left: 30px;
   }
   .youtuberinfo span:nth-of-type(3):after{
    left:13px;
   }

/* - 유튜버정보 ------------------- */
/* - 담당자 연락처------------------- */
.manager{
    position: relative;
    padding-top: 18px;
    padding-bottom: 15px;
}
.manager p, .manager span{
    display: inline-block;
}
.manager p{margin-right: 6px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}
.manager span{margin-right: 20px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;}
/* - 담당자 연락처------------------- */
/* 영상조회수------------------ */
.videoViewWrap{
    position: relative;
display: flex;
justify-content: space-between;

}
.videoViewWrap .flexcontainer{
    width: 25%;
    vertical-align: middle;
    justify-content: space-between;
}
.videoViewWrap .flexcontainer:nth-child(3),
.videoViewWrap .flexcontainer:nth-child(4){
    width: 23%;
}
.videoViewWrap .flexcontainer p{


}
.videoViewWrap .flexcontainer p:nth-child(1){
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
    width: 82%;
}
.videoViewWrap .flexcontainer p:nth-child(2){
    width:18%;
}
.videoViewWrap p.orange{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #d50;
}


/* 영상조회수------------------ */
/* 제작비------------------ */

.production{
    padding-bottom: 15px;
}
.production {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}
.production em{
    text-decoration: underline;
}
.production input[type=text]{
    width: 70px;
  height: 36px;
  margin: 10px 6px 0 1px;
text-align: center;
  border: solid 1px #d5d5d5;
  background-color: #fff;
}

.production button{
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #00c781;
    padding: 8px 21px 8px 22px;
    border-radius: 3px;
    border: solid 1px #00c781;
    background: #fff;
    margin-left: 20px;
}

/* 제작비------------------ */

/* 유튜버영상----------------------- */

.videoThums{
}
.videoThums .videoWarp{
position: relative;

}
.videoThums .videoWarp .videoThum{

    display: inline-block;
margin-right: 5px;
}
.videoThums .videoWarp .videoThum a img{
    width: 100px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}
.videoThums .videoWarp .videoThum p{
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #848484;
    display: block;
    padding-top: 4px;
}
.videoThums .videoWarp .videoThum span{
    font-size: 10px;

    display: inline-block;
    text-align: left;
    color: #222;
    vertical-align: middle;
margin-bottom: 5px;
}
.videoThums .videoWarp .videoThum .viewicon{
    width: 16px;
    height: 16px;
    margin: 2px 2px 0 0;
    object-fit: contain;
  }
/* 유튜버영상----------------------- */
/* 키워드--------------------------- */
.keywords{

}
.keywords span{
    margin:3px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;;
}
.keywords span a{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #848484;
    padding: 5px 17px;
    border-radius: 12px;
    margin:3px;
    background-color: #f7f7f7;
}

/* 키워드--------------------------- */
/* 관련메모--------------------------- */
.memo{
    justify-content: space-between;
}
.memo p{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}
.memo button{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
background: #fff;
margin:2px 10px;
    padding: 4px 20px;
    border-radius: 3px;
    border: solid 1px #464646;
}
.flexitemY2 {
    overflow: hidden;
}
.flexitemY2 textarea{
    font-size: 14px;
    text-align: left;
    color: #a5a5a5;
    padding: 18px 20px;
    border: solid 1px #ebebeb;
    background-color: #fff;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;

}
.analyze {
    padding: 14px 0 15px 0;
}
.analyze p{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
    display: inline-block;
    margin-right: 5px;
}
.analyze span{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8c8b9b;
}
/* 관련메모--------------------------- */



/* 그래프 스타일----------- */
.graph{

}
.analyzegraph{
    padding: 12.7px 19px 15.8px 20px;
    border: solid 1px #ebebeb;
    background-color: #fff;
}
.graphtitle{
position: relative;
}
.graphtitle div{
flex: 50%;
}
.graphtitle .flexitem div{
    vertical-align: middle;

 
}
.graphtitle .flexitem div:nth-child(1){
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #222;

}
.graphtitle .flexitem div:nth-child(2){
    flex-direction:reverse; 
    text-align: right;
}
.graphtitle .flexitem div:nth-child(3){
padding-left: 10px;
}
.graphtitle .flexitem div:nth-child(3) span{
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #222;
}
.women, .man{
    rotate: -180deg;
}
 .women em {
    display: block;
    border-radius: 2.5px;
    background-color: #d50;
padding: 1%;
height: 5px;


}
.man em{
display: block;
    border-radius: 2.5px;
    background-color: #003de2;
    padding:1%;
    height: 5px;


}


.graphbarAge{
    position: relative;
}
.graphbarAge .flexcontainer{
    padding-top: 5px;
    padding-bottom: 5px;
}
.graphbarAge .flexitem{
    vertical-align: middle;

 
}
.graphbarAge .flexitem:nth-child(1){
    font-size: 12px;
    text-align: left;
    color: #222;
    width: 30%;
}
.graphbarAge  .flexitem:nth-child(2){
    flex-direction:reverse; 
    text-align: right;
    width: 60%;
}
.graphbarAge .flexitem:nth-child(3){
padding-left: 10px;
font-size: 10px;
text-align: left;
color: #222;
width: 20%
}
.graphbarAge  .flexitem:nth-child(3) span{
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #222;
}
.grayBar{
    rotate: -180deg;
}
.grayBar em{
    padding:1%;
    height: 5px;
    display: block;
    border-radius: 2.5px;
    background-color: #8c8b9b;
}
.graph{

    padding:0;
    padding-top: 30px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
} 