@charset "UTF-8";  

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../font/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../font/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'),url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'),url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'),  url('../font/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../font/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../font/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../font/Pretendard-Thin.woff') format('woff');
}

* {
    font-family: 'Pretendard';
    box-sizing: border-box;
}

.inner{
    max-width: 1280px;
    margin:0 auto;
}
.pa{
    position: relative;
}
.ch{
    display: inline-block;
    vertical-align: top;
}
.ab{
    position: absolute;
}

.yellowBtn{
padding:16px 30px;

	border-radius: 30px;
background: #FFB526;
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 700;

}
.yellowBtn i{
	margin-left: 10px;
}

/* 헤더---------------- */
header {

margin-bottom: -71px;
z-index: 1
}
.headerBlack{
	margin-bottom: 0;
	z-index: inherit;
}
header .inner{
	width: 1280px;
	margin:0 auto;
display: flex;
justify-content: flex-start;
align-items: center;
height: 70px;
}
header .inner h1{

	width: 560px;
	height: 30px;
}
header .inner nav{
	width: 600px;

}
header .inner nav ul{
	text-align: right;
}
header .inner a{
	padding-left: 44px;
}
header .inner #logo{
	padding:0
}

header .inner a li{
	color: #FFF;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.headerBlack .inner a li{
	color: #000;
}
header .inner .icons{
	width: 120px;
	text-align: right;

}
header .inner .icons svg{
	margin-left: 10px;
}
/* 헤더---------------- */
/* 푸터----------------- */
footer{
background: #342F26;
color: #D9D9D9;
padding-top: 48px;
padding-bottom: 50px;
}
.logo_footer{
    width: 80px;
height: 30px;
margin-bottom: 31px;
}
footer .pa .ch:nth-child(2){
    margin-right: 40px;
    margin-left: 50px;

}
footer .pa span,
footer .pa .add{
    color: #D9D9D9;

font-size: 12px;
font-style: normal;
font-weight: 400;
/* margin-right: 20px; */
}
footer .ch b{
    display: block;
    color: #D9D9D9;
font-size: 14px;
font-style: normal;
font-weight: 700;

margin-bottom: 8px;
}
footer .ch p{
    color: #D9D9D9;

font-size: 16px;
font-style: normal;
font-weight: 400;

}
footer small{
    display: block;
    color: #7A7A7A;
font-size: 12px;
font-style: normal;
font-weight: 400;
margin-top: 18px;
}
footer .icons{
bottom: 0;
right:10px;
}
footer .icons svg{margin-left: 15px;}

/* 푸터----------------- */