@charset "UTF-8";  
.subbanner{
  background: url(../images/portfoliobanner.png) no-repeat;
  background-size: cover;
  height: 400px;
background-position: center center;
position: relative;
z-index: -1
}

.subbanner .inner h2{
  color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform:translate(-50%, -50%); /* IE 9 */
-webkit-transform:translate(-50%, -50%);
}
.irisportfolio{
  padding-top: 70px;
  padding-bottom: 100px;
}
.irisportfolio h3{
  text-align: left;
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;

}
.irisportfolio h4{
  color: #000;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}