@charset "UTF-8";  

.subbanner{
  background: url(../images/portfoliobg.png) no-repeat;
  background-size: cover;
  height: 100vh;
background-position: center center;
position: relative;
z-index: -1
}

.subbanner .inner h2{
  color: #FFF;
text-align: center;

font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform:translate(-50%, -50%); /* IE 9 */
-webkit-transform:translate(-50%, -50%);
}

.subbanner svg{
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 2;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
}


@keyframes down {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translateY(15px);
	}
	100% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translateY(15px);
	}
	100% {
		transform: translate(0);
	}
}







.intro{
  padding-top: 80pbx;
  padding-bottom: 110px;
}
.intro .ch:nth-child(1){
  margin-right: 100px;
}
.intro .ch:nth-child(2){
  padding-top: 80px;
}

.portswiper{
  position: relative;
  padding-top: 127px;
  padding-bottom: 125px;


}
.portswiper h2{
  color: #000;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 40px;
}


.mySwiper04{
  background: #FAF8F6;
}
.mySwiper04 .swiper-wrapper{
position: relative;
}
.mySwiper04 .swiper-wrapper img{
  width:48%;
  height: 484px;
display: inline-block;
vertical-align: top;
}
.portfolioconcept{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 70px 36px;
}
 
.mySwiper04 .swiper-slide span{
  display: inline-block;
  color: #7A7A7A;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
border: 1px solid #7A7A7A;
padding: 8px 22px;
margin-right: 10px;
margin-top: 25px;
}
.mySwiper04 .swiper-slide strong{
  color: #000;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: block;
margin-bottom: 19px;
}
.mySwiper04 .swiper-slide p{
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.mySwiper04 .swiper-slide a.yellowBtn{
  display: block;
  /* padding: 15px 50px; */
  width: 170px;
height: 46px;
text-align: center;
margin-top: 110px;
cursor: pointer;

}
.interior{
  padding-bottom: 100px;
}
.interior h2 {
  color: #000;
  font-family: Pretendard;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
margin-bottom: 12px;
}
.interior p{
  color: #000;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 45px;
}

.interior .pa .ch{
  width: 600px;
  margin-bottom: 50px;
}
.interior .pa .ch:nth-child(2n){
  margin-left: 70px;
}
.interior .pa .ch h3{
  color: #000;
font-family: Pretendard;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;margin-bottom: 17px;
}
.interior .pa .ch h4{
  color: #000;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 22px;
}
.interior .pa .ch span{
  display: inline-block;
  color: #FFB526;
text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 30px;
border: 1px solid #FFB526;
padding:7px 21px;
margin-right: 10px;
}
.interior .interiorImg{
  width: 600px;
height: 400px;

}