@charset "UTF-8";  
/* 유튜브캠페인 섹션----------------- */
.youtubeCampaign{
    padding: 160px 154px;
   
    background-image: linear-gradient(to bottom, #fff 0%, #eaf0f4 100%);

    padding-top: 160px;
    padding-bottom: 300px;
}
.sectionTitle{
   position: relative;
}
.sectionTitle img{
    display: inline-block;
    vertical-align: top;
margin-top: 5px;
}
.sectionTitle h2{
    display: inline-block;
    vertical-align: top;
    font-size: 38px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding-left: 10px;
}


.youtubeCampaign .flexcontainer{
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between!important;
    margin-top: 40px;
    margin-bottom: 40px;
}
 .youtubeCampaign .flexitem {

    text-align: left;

    border-radius: 10px;
    box-shadow: 20px 30px 40px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #bdbdbd;
    background-color: #fff;
    width: 364px;
    overflow: hidden;
    margin-bottom: 40px;

  }
  .itemInfor{
    padding: 20px 10px;;
  }
  .itemInfor .tag{
    margin-bottom: 10px;
  }
  .itemInfor p{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    overflow: hidden;  	
    text-overflow: ellipsis;  
    white-space: wrap; 
    word-break:break-all;
    width: 320px;
    height: 46px;
  }
#schedule{
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #494949;
    width: 100%;
    border-collapse: collapse;
    margin-top: 18px;
margin-bottom: 18px;
}
.status {
    position: relative;
}
.status img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.status em{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #025394;
}
.status span{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #025394;
    padding: 2px 10px;
    border-radius: 30px;
    background-color: #eaf0f4;
    margin-right: 20px;
}

.buttonWrap{
    text-align: center;
}
.buttonWrap a{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #05121a;
padding:8px 20px;
}
.buttonWrap a :indeterminate{
    font-size: 14px;
}

.mainbanner{
    margin-top: -180px;
}
.mainbanner .innerWrap{
    background: url(../images/mainbanner.png) no-repeat;
    background-size: cover;
    width: 1189px;
    height: 387px;
    padding-left:75px;
    padding-top: 145px;
    position: relative;
   margin-bottom: 220px;
}
.mainbanner .innerWrap div{
    display: inline-block;
    vertical-align: top;
}
.mainbanner .innerWrap div h3{
    font-size: 38px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-bottom: 35px;
    margin-top: 10px;
    margin-right: 48px;
}
.mainbanner .innerWrap div a{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 8px 28px;
    box-shadow: 20px 30px 40px 0 rgba(0, 0, 0, 0.02);

}
.mainbanner .innerWrap div h4{
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -0.22px;
    text-align: left;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 16px;
}
.mainbanner .innerWrap div span{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.28px;
    text-align: left;
    color: #fff;
    margin-top: 5px;
    display: block;
}





/* youtubeCampaign---------------------- */
.innerWrap1230{
    width: 1230px;
    margin:0 auto
}
/* 유튜브컨텐츠 슬라이드--------------- */
.youtubeContents{
    padding-bottom: 220px;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }

  .swiper-slide {
  width: 330px;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 30px 40px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #bdbdbd;
    background-color: #fff;
    padding: 12px 10px;
    border-radius: 10px;
    text-align: left;
  }
  .swiper-slide p{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.swiper-slide a{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 12px;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.swiper-slide a i{
    margin-left: 5px;
}
  /* .swiper-slide .youtubeVideo img {
    width: 280px;
    height: 210px;
  } */
  .youtubeVideo{
    text-align: center;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    width: 280.3px;
    height: 210.2px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .aboutchannel{
    border-radius: 10px;
    border: solid 1px #dee3e6;
overflow: hidden;
  }

  .aboutchannel .aboutchannelTop{
    padding: 10px 20px;
    background-color: #eaf0f4;
    text-align: left;

  }
  .aboutchannel .aboutchannelTop img{
    display: inline-block;
    vertical-align: middle;
  }
  .aboutchannel .aboutchannelTop span{
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
vertical-align: middle;
    color: #000;
  margin-left: 10px;
  }
  .aboutchannelBottomp{
    padding:10px 10px;
    text-align: center;
  }
  .aboutchannelBottomp table{
    width: 100%;

  }
  .aboutchannelBottomp table tr th{
    width: 30%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;

  }
  .aboutchannelBottomp table tr th,
  .aboutchannelBottomp table tr th i{
    font-size: 12px;
margin-right: 5px;
    color: #025394;
  }
  .aboutchannelBottomp table tr td {
padding-top: 8px;

  }
  .aboutchannelBottomp table tr td span{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #025394;
    padding: 4px 10px;
    border-radius: 30px;
    background-color: #eaf0f4;
    text-align: center;
  }