@charset "UTF-8";  

/* 기본회원정보 및 비번관련 페이지 style------------- */
.notice_detail{
  padding: 35px 40px;
  border-radius: 2px;
  border: solid 1px #eaeaea;
  width: 816px;
}
.niticeTitle{
  position: relative;
}
.notice_detail h3{
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 20px;
}
.editDelet{
text-align: right;
padding-top: 40px;
}
.editDelet a{

  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4;
  letter-spacing: normal;
padding: 6px 12px;
  color: #494949;
  text-decoration: none;

}

.editDelet a img{
margin-right: 3px;
}
hr{
  border:none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);;
}


.board-table {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #959595;
  width: 100%;
margin-top: 50px;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}

.board-table th, .board-table td {
  padding: 14px 0;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #959595;
}

.board-table tbody td {

  text-align: center;
}

.board-table tbody th {
  
  padding-left: 28px;
  padding-right: 14px;

  text-align: left;
}
.board-table tbody th a{
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 5px;
}
.board-table tbody th a strong{
  color: #f2582b;
}
.board-table tbody th p{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #959595;
}



.list{
  text-align: center;
  padding-top: 40px;
  }
  .list a{
  
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    letter-spacing: normal;
  padding: 6px 12px;
    color: #494949;
    text-decoration: none;
  margin-right: 20px;
margin-left: 20px;
}
  
  .list a i{
  margin-right: 3px;
  margin-left: 3px;
  }